<div class="container-fluid py-4 bg-dark text-white min-vh-100">
  <div class="mb-4 row">
      <button (click)="onLogout()">Cerrar sesión</button>
    <div class="col-md-6 col-lg-4 mb-3">
      <label for="name" class="form-label">Buscar por Nombre:</label>
      <input id="name" type="text" class="form-control" [(ngModel)]="searchName" (input)="onFilterChange()"
        placeholder="Buscar por nombre..." />
    </div>

    <div class="col-md-3 col-sm-6 mb-2">
      <label for="club" class="form-label">Filtrar por Club:</label>
      <ng-select [items]="clubs" bindLabel="" bindValue="" placeholder="Todos" [(ngModel)]="selectedClub"
        (change)="onFilterChange()" [searchable]="true" [clearable]="true" id="club" class="ng-select-dark">
      </ng-select>
    </div>

    <div class="col-md-3 col-sm-6 mb-2">
      <label for="position" class="form-label">Filtrar por Posición:</label>
      <ng-select [items]="positions" bindLabel="" bindValue="" placeholder="Todas" [(ngModel)]="selectedPosition"
        (change)="onFilterChange()" [searchable]="true" [clearable]="true" id="position" class="ng-select-dark">
      </ng-select>
    </div>


    <div class="table-responsive">
      <table class="table table-dark table-hover table-striped table-bordered aling-middle">

        <thead>
          <tr>
            <th class="text-center">
              <i class="bi bi-person-circle fs-3" title="Foto de perfil"></i>
            </th>

            <th (click)="setSort('name')" class="text-center sortable align-middle" title="Ordenar por Nombre">
              Nombre
              <span *ngIf="sortColumn !== 'name'">↕</span>
              <span *ngIf="sortColumn === 'name' && sortDirection === 'asc'">↑</span>
              <span *ngIf="sortColumn === 'name' && sortDirection === 'desc'">↓</span>
            </th>

            <th (click)="setSort('club')" class="text-center sortable align-middle" title="Ordenar por Club">
              Club
              <span *ngIf="sortColumn !== 'club'">↕</span>
              <span *ngIf="sortColumn === 'club' && sortDirection === 'asc'">↑</span>
              <span *ngIf="sortColumn === 'club' && sortDirection === 'desc'">↓</span>
            </th>

            <th (click)="setSort('position')" class="text-center sortable align-middle" title="Ordenar por Posición">
              Posición
              <span *ngIf="sortColumn !== 'position'">↕</span>
              <span *ngIf="sortColumn === 'position' && sortDirection === 'asc'">↑</span>
              <span *ngIf="sortColumn === 'position' && sortDirection === 'desc'">↓</span>
            </th>

            <th (click)="setSort('nationality')" class="text-center sortable align-middle"
              title="Ordenar por Nacionalidad">
              Nacionalidad
              <span *ngIf="sortColumn !== 'nationality'">↕</span>
              <span *ngIf="sortColumn === 'nationality' && sortDirection === 'asc'">↑</span>
              <span *ngIf="sortColumn === 'nationality' && sortDirection === 'desc'">↓</span>
            </th>

            <th (click)="setSort('rating')" class="text-center sortable align-middle" title="Ordenar por Rating">
              Rating
              <span *ngIf="sortColumn !== 'rating'">↕</span>
              <span *ngIf="sortColumn === 'rating' && sortDirection === 'asc'">↓</span>
              <span *ngIf="sortColumn === 'rating' && sortDirection === 'desc'">↑</span>
            </th>
            <!--
            <th class="text-center align-middle">Detalle</th>
          </tr>
        -->
        </thead>


        <tbody>
          <tr *ngFor="let player of sortedPlayers" (click)="openPlayerModal(player)" class="table-row clickable">
            <td class="text-center align-middle"><img [src]="player.playerFaceUrl" alt="{{ player.name }}" width="50"
                class="rounded-circle border border-2" /></td>
            <td class="text-center align-middle">{{ player.name }}</td>
            <td class="text-center align-middle">{{ player.club }}</td>

            <td class="text-center align-middle">
              <span [ngClass]="getPositionClass(player.position)" class="badge position-badge">
                {{ player.position }}
              </span>
            </td>


            <td class="text-center align-middle">
              {{ nationalityFlags[player.nationality] || '' }} {{ player.nationality }}
            </td>
            <td class="text-center align-middle">
              <div class="rating-circle" [ngClass]="getRatingClass(player.rating)">
                <svg viewBox="0 0 36 36" class="circular-chart">
                  <path class="circle-bg" d="M18 2.0845
               a 15.9155 15.9155 0 0 1 0 31.831
               a 15.9155 15.9155 0 0 1 0 -31.831" />
                  <path class="circle" [attr.stroke-dasharray]="player.rating + ', 100'" d="M18 2.0845
               a 15.9155 15.9155 0 0 1 0 31.831
               a 15.9155 15.9155 0 0 1 0 -31.831" />
                  <text x="18" y="20.35" class="percentage">{{ player.rating }}</text>
                </svg>
              </div>
            </td>
            <!--Aca puede ir lo de la version de fifa
            <td class="text-center align-middle">
              <i class="bi bi-eye-fill text-info"></i>
            </td>
          -->
          </tr>
        </tbody>
      </table>
    </div>

    <div class="d-flex justify-content-center align-items-center gap-3 mt-4">
      <button class="btn btn-outline-light" (click)="prevPage()" [disabled]="page === 1">Anterior</button>
      <span>Página {{ page }}</span>
      <button class="btn btn-outline-light" (click)="nextPage()" [disabled]="page * size >= total">Siguiente</button>
    </div>
  </div>



  <div class="modal fade" id="playerDetailModal" tabindex="-1" aria-labelledby="playerDetailModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content bg-dark text-white">
        <div class="modal-header border-0">
          <h5 class="modal-title" id="playerDetailModalLabel">{{ selectedPlayer?.name }}</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body d-flex justify-content-center">
          <div class="fifa-card-fake text-center text-white p-4 rounded position-relative">

            <div class="fifa-rating">{{ selectedPlayer?.rating }}</div>
            <div class="fifa-position">{{ selectedPlayer?.position }}</div>

            <img [src]="selectedPlayer?.playerFaceUrl" class="player-face mb-3" alt="Player Face" />

            <div class="fifa-name">{{ selectedPlayer?.name }}</div>

            <div class="mt-1">
              {{ nationalityFlags[selectedPlayer?.nationality || ''] }}
              <span class="small">{{ selectedPlayer?.nationality }}</span>
            </div>

            <div class="fifa-club mb-3">{{ selectedPlayer?.club }}</div>

            <!-- Stat Grid -->
            <div class="row text-start small g-2 mb-3">
              <div class="col-4"><strong>PAC</strong><br>{{ selectedPlayer?.speed }}</div>
              <div class="col-4"><strong>SHO</strong><br>{{ selectedPlayer?.shooting }}</div>
              <div class="col-4"><strong>PAS</strong><br>{{ selectedPlayer?.passing }}</div>
              <div class="col-4"><strong>DRI</strong><br>{{ selectedPlayer?.dribbling }}</div>
              <div class="col-4"><strong>DEF</strong><br>{{ selectedPlayer?.defending ?? '-' }}</div>
              <div class="col-4"><strong>PHY</strong><br>{{ selectedPlayer?.physic ?? '-' }}</div>
            </div>

            <!-- Extra Info -->
            <div class="info-extra text-start small border-top pt-2">
              <div><strong>Edad:</strong> {{ selectedPlayer?.age }}</div>
              <div><strong>Altura:</strong> {{ selectedPlayer?.heightCm }} cm</div>
              <div><strong>Peso:</strong> {{ selectedPlayer?.weightKg }} kg</div>
              <div><strong>FIFA:</strong> {{ selectedPlayer?.fifaVersion }} - V{{ selectedPlayer?.fifaUpdate }}</div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>